.contenedor{
    display: flex;
    align-items: center;
    justify-content: start;
}

.seccion, .seccion-especialista{
    margin-top: 20px;
    margin-bottom: 20px;
}
.seccion-especialista{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}