.contenedor-iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #dd8ebe;
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 100;
    
}

.icono-datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p{
        margin: 0 10px;
    }
    
}