<div class="contenedor-iconos">
    <div class="icono-datos">
        <fa-icon [icon]="iconoTelefono" style="color: #704cb6;" size="xl"></fa-icon>
        <p>Atención telefónica las 24hs: 4211-54322 / <fa-icon [icon]="iconoWpp" style="color: #704cb6;"
                size="xl"></fa-icon> Whatsapp: 11567288</p>
    </div>
    <div class="icono-datos">
        <fa-icon [icon]="iconoUbicacion" style="color: #704cb6;" size="xl"></fa-icon>
        <p>Ubicación: Suipacha 986 - CABA</p>
    </div>
    <div class="icono-datos">
        <fa-icon [icon]="iconoReloj" style="color: #704cb6;" size="xl"></fa-icon>
        <p>Lunes-Viernes 8:00hs a 19:00hs - Sábados 8:00hs a 14:00hs</p>
    </div>

</div>