<div class="col">
    <div class="card">
      <div class="card-header py-3">
        <h4 class="my-0">Datos del Especialista</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="altaPersona">

          <div class="row g-3">

            <div class="col-12">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese nombre">
              <div [ngClass]="{'visible': servicioForm.controlConError(altaPersona, 'nombre')}" class="error-message">
                <p>{{servicioForm.mensajeError(altaPersona, 'nombre') }}</p>
              </div>
            </div>
            <div class="col-12">
              <label for="apellido" class="form-label">Apellido</label>
              <input type="text" formControlName="apellido" class="form-control" placeholder="Ingrese apellido">
              <div [ngClass]="{'visible': servicioForm.controlConError(altaPersona, 'apellido')}" class="error-message">
                <p>{{servicioForm.mensajeError(altaPersona, 'apellido') }}</p>
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">Edad</label>
              <input type="number" formControlName="edad" class="form-control" placeholder="Ingrese edad">
              <div [ngClass]="{'visible': servicioForm.controlConError(altaPersona, 'edad')}" class="error-message">
                <p>{{servicioForm.mensajeError(altaPersona, 'edad') }}</p>
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">DNI</label>
              <input type="number" formControlName="dni" class="form-control" placeholder="Ingrese DNI">
              <div [ngClass]="{'visible': servicioForm.controlConError(altaPersona, 'dni')}" class="error-message">
                <p>{{servicioForm.mensajeError(altaPersona, 'dni') }}</p>
              </div>
            </div>

            <div  class="col-12">
              <input type="text" class="form-control" placeholder="Agregar especialidad" formControlName="nuevaEspecialidad">
              <button (click)="agregarEspecialidad()">Agregar</button>
            </div>
            <div class="col-12">
              
              <mat-form-field>
                <mat-label>Especialidades</mat-label>
                <mat-select formControlName="especialidad" multiple>
                  <mat-option *ngFor="let item of dataEspecialidades.coleccionEspecialidades" [value]="item.especialidad">
                    {{ item.especialidad }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div [ngClass]="{'visible': servicioForm.controlConError(altaPersona, 'especialidad')}" class="error-message">
                <p>{{ servicioForm.mensajeError(altaPersona, 'especialidad') }}</p>
              </div>
            </div>


            <div class="col-12">
              <label for="email" class="form-label">Correo electronico</label>
              <input type="text" formControlName="email" class="form-control" placeholder="Ingrese su email">
              <div [ngClass]="{'visible': servicioForm.controlConError(altaPersona, 'email')}" class="error-message">
                <p>{{servicioForm.mensajeError(altaPersona, 'email') }}</p>
              </div>
            </div>

            <div class="col-12">
              <label for="pwd" class="form-label">Contraseña</label>
              <input type="password" formControlName="pwd" class="form-control" placeholder="Ingrese su contraseña">
              <div [ngClass]="{'visible': servicioForm.controlConError(altaPersona, 'pwd')}" class="error-message">
                <p>{{servicioForm.mensajeError(altaPersona, 'pwd') }}</p>
              </div>
            </div>

            <div class="col-12">
              <input  type="file" label="Foto 1"  (change)="onFileSelected($event, 'foto1')">
            </div>

          </div>

          <div class="captcha">
            <!-- <re-captcha (resolved)="resolved($event)" siteKey="6LfjUXoqAAAAAK28LGBZ8H4X4mv19HBcHPqL3PfB"></re-captcha> -->
            <rickaptcha (resolved)="resolved($event)"></rickaptcha>
          </div>
          <hr class="my-4">
          <div class="btn-registrar">
            <button class="w-50 btn btn-primary" (click)="cargarPersona()" [disabled]="!this.altaPersona.valid  || !captchaResponse || !foto1">Agregar
              Especialista</button>
          </div>
        </form>

        <div class="mensaje-sesion" *ngIf="!sesion.esAdmin()">
          <p>Ya tenés una cuenta? <a [routerLink]="['/login']">Inicia Sesión</a></p>
        </div>
      </div>
    </div>
  </div>
