<div class="contenedor">
    
    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- <div class="carousel-item active">
            <img src="../../../assets/clinica.jpg" class="d-block w-100" alt="...">
          </div> -->
          <div class="carousel-item">
            <img src="../../../assets/clinica3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/clinica4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

    <!-- <h4>Nos comprometemos a brindarte atención de calidad y un espacio donde tu bienestar es nuestra prioridad. Ingresa a
        tu cuenta para acceder a tus servicios y gestionar tus citas de manera rápida y segura. ¡Gracias por confiar en
        nosotros!</h4> -->
</div>