.contenedor-nav{
    background-color: #dd8ebe;
    height: 13vh;
}

p{
    margin: 5px;
}
.usuario{
    color: #704cb6;
    font-weight: 500;
    font-size: 20px;
}


.nav-link{
    color: #704cb6;
    font-weight: 500;
    font-size: 20px;
    margin-right: 15px;
}
.logo-navbar {
    width: 200px;
}