<div class="contenedor-nav">

    <nav class="navbar navbar-expand-lg navbar-color">
        <div class="container-fluid">
            <div>
                <img src="../../../assets/banner2.png" alt="" class="logo-navbar">
            </div>

            <div *ngIf="this.sesion.sesionActiva()">

                    <p class="usuario">¡Hola {{this.sesion.getUsuario()}}!</p>

            </div>
            <div >
                <ul class="nav" [style.gap.px]="10">
                    <li class="nav-item nav-underline">
                        <a class="nav-link"  [routerLink]="['']">Inicio</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="!this.sesion.sesionActiva()">
                        <a class="nav-link" [routerLink]="['/login']">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="this.sesion.sesionActiva()">
                        <a class="nav-link" [routerLink]="['/mi-perfil']">Mi Perfil</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="this.sesion.esEspecialista() || this.sesion.esPaciente()">
                        <a class="nav-link" [routerLink]="['/mis-turnos']">Mis turnos</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="this.sesion.esEspecialista()">
                        <a class="nav-link" [routerLink]="['/seccion-pacientes']">Mis Pacientes</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="sesion.esAdmin()">
                        <a class="nav-link" [routerLink]="['/seccion-usuarios']">Usuarios</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="sesion.esAdmin()">
                        <a class="nav-link" [routerLink]="['/turnos']">Turnos</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="sesion.esAdmin() || sesion.esPaciente()">
                        <a class="nav-link" [routerLink]="['/solicitar-turno']">Solicitar turno</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="sesion.esAdmin()">
                        <a class="nav-link" [routerLink]="['/graficos']">Ver estadísticas</a>
                    </li>
                    <li class="nav-item nav-underline" *ngIf="this.sesion.sesionActiva()">
                        <a class="nav-link" (click)="cerrarSesion()">Cerrar Sesión</a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </nav>
</div>



