
mat-header-cell, mat-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  mat-cell img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
  }
  .btn {
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 50px;
    box-shadow: 0px 1px 10px 0px #913b9ca6;
    background-image: linear-gradient(135deg, #ac4a9f 10%, #b9719e 100%);
}


/*CARD*/
.card-container {
  display: flex;
  flex-direction: column;

}

.contenedor-btn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contenedor{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; 
   gap: 16px; 
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

img{
  height: 200px;
  margin: auto;
  border-radius: 20px;
}

