<!-- 
<mat-table [dataSource]="dataUsuarios.coleccionUsuarios" class="mat-elevation-z8">

  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edad">
    <mat-header-cell *matHeaderCellDef> Edad </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.edad}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dni">
    <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.dni}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="obraSocial">
    <mat-header-cell *matHeaderCellDef> Obra Social </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.obraSocial | formatoVacio}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="especialidad">
    <mat-header-cell *matHeaderCellDef> Especialidad </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.especialidad | formatoVacio}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="habilitado">
    <mat-header-cell *matHeaderCellDef> Habilitado </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <button *ngIf="element.habilitado" (click)="deshabilitarEspecialista(element)" class="btn">Deshabilitar</button>
      <button *ngIf="element.habilitado == false" (click)="habilitarEspecialista(element)" class="btn">Habilitar</button>
      <p *ngIf=" element.habilitado==null"> {{element.habilitado | formatoVacio}}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="imagenPerfil1">
    <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
    <mat-cell *matCellDef="let element" style="width: 200px;">
      <img [src]="element.imagenPerfil1" alt="">
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="imagenPerfil2">
    <mat-header-cell *matHeaderCellDef> Segunda imagen </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img [src]="element.imagenPerfil2" alt="">
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
 -->
 <div class="card-container">
  
  <div class="contenedor-btn">
    <h4>Filtrar por:</h4>
    <button class="btn" (click)="mostrarUsuarios('todos')">Todos</button>
    <button class="btn" (click)="mostrarUsuarios('pacientes')">Pacientes</button>
    <button class="btn" (click)="mostrarUsuarios('especialistas')">Especialistas</button>
    <button class="btn" (click)="mostrarUsuarios('administradores')">Administadores</button>
  </div>
  <div class="contenedor">
    <mat-card class="example-card" appearance="outlined" *ngFor="let elemento of usuariosVisibles">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ elemento.nombre }} {{ elemento.apellido }}</mat-card-title>
        <mat-card-subtitle>DNI: {{ elemento.dni }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="elemento.imagenPerfil1" alt="Primer imagen">
      <img *ngIf="elemento.imagenPerfil2"  [src]="elemento.imagenPerfil2" alt="Segunda Imagen">
      <mat-card-content>
        <p><strong>Edad:</strong> {{ elemento.edad }}</p>
        <p><strong>Obra Social:</strong> {{ elemento.obraSocial | formatoVacio }}</p>
        <p><strong>Especialidad:</strong> {{ elemento.especialidad?.join(', ') | formatoVacio }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="elemento.habilitado" (click)="deshabilitarEspecialista(elemento)"  class="btn">Deshabilitar</button>
        <button *ngIf="elemento.habilitado === false" (click)="habilitarEspecialista(elemento)"  class="btn">Habilitar</button>
        <button *ngIf="elemento.tipo == tipoUsuario.paciente" (click)="descargarExcel(elemento)"  class="btn">Descargar Turnos</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>