<div class="contenedor">
  <div *ngIf="loading" class="spinner">
    <div class="spinner-container">
      <img src="../../../assets/icono-iso.png" alt="spinner icono" class="espejo-animado">
    </div>
  </div>

  <div class="botonera">
    <button (click)="seleccionarUsuario('paciente')">Paciente</button>
    <button (click)="seleccionarUsuario('especialista')">Especialista</button>
  </div>

  <div *ngIf="botonSeleccionado=='paciente'" class="contenedor-form">
    <app-formulario-paciente (loadingChange)="onLoadingChange($event)"></app-formulario-paciente>
  </div>
  <div *ngIf="botonSeleccionado=='especialista'" class="contenedor-form">
    <app-formulario-especialista></app-formulario-especialista>
  </div>


 
</div>