<div class="contenedor" *ngIf="sesion.esPaciente()">
    <h1>Mis Turnos</h1>
    
    <div class="filtros">
      <div class="filtros">
          <input type="text" id="buscar" placeholder="Buscar por especialidad o especialista" [(ngModel)]="buscador" >
      </div>
    </div>


    <div class="tabla-container">
      <table>
        <thead>
          <tr>
            <th>Especialista</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of obtenerTurnosFiltradosPaciente()">
            <td>{{ turno.especialistaNombre }}</td>
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.fechaTurno }}</td>
            <td>{{ turno.horaTurno | formatoHora }}</td>
            <td>
              <span  [appEstadoTurno]="turno.estado">
                {{ turno.estado }}
              </span>
            </td>
            <td>
              
              <button class="btn" *ngIf="turno.estado == estadoTurno.pendiente" (click)="mostrarComentario(turno, 'cancelar')">Cancelar Turno</button>
              <button class="btn" *ngIf="turno.resena!= null || turno.comentario!=null"  (click)="mostrarResena(turno)">Ver Reseña </button>
              <button class="btn" *ngIf="turno.estado == estadoTurno.finalizado && turno.resena!=null" (click)="mostrarEncuesta(turno)"> Completar Encuesta</button>
              <button class="btn" *ngIf="turno.estado == estadoTurno.finalizado" > Calificar Atención</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="comentarioVisible" class="modal">
      <div class="modal-content">
        <h3>Cancelar Turno</h3>
        <textarea [(ngModel)]="comentario" placeholder="Motivo de la cancelación"></textarea>
        <div class="modal-buttons">
          <button (click)="cancelarTurno()">Confirmar</button>
          <button (click)="cerrarModal('comentario')">Cerrar</button>
        </div>
      </div>
    </div>

    <div *ngIf="resenaVisible" class="modal">
      <div class="modal-content" *ngIf="turnoSeleccionado?.resena !=null">
        <h3>Reseña de {{turnoSeleccionado?.resena?.usuario}} ({{turnoSeleccionado?.resena?.tipoUsuario}})</h3>
        <p>Reseña: {{turnoSeleccionado?.resena?.comentario}}</p>
        <p>Acción: {{turnoSeleccionado?.resena?.accion}}</p>
        <div class="modal-buttons">
          <button (click)="cerrarModal('resena')">Cerrar</button>
        </div>
      </div>
      <div class="modal-content" *ngIf="turnoSeleccionado?.comentario !=null">
        <h3>Comentario de {{turnoSeleccionado?.comentario?.usuario}} ({{turnoSeleccionado?.comentario?.tipoUsuario}})</h3>
        <p>Reseña: {{turnoSeleccionado?.comentario?.comentario}}</p>
        <p>Acción: {{turnoSeleccionado?.comentario?.accion}}</p>
        <div class="modal-buttons">
          <button (click)="cerrarModal('resena')">Cerrar</button>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="encuestaVisible" class="modal">
      <div class="modal-content">
        <h3>Complete la encuesta</h3>
        <textarea [(ngModel)]="comentario" placeholder="Motivo de la cancelación"></textarea>
        
        <div class="modal-buttons">
          <button (click)="cargarEncuesta()">Cargar Encuesta</button>
          <button (click)="cerrarModal()">Cerrar</button>
        </div>
      </div>
    </div> -->
  </div>

  <div class="contenedor" *ngIf="sesion.esEspecialista()">
    <h1>Mis Turnos</h1>
    <div class="filtros">
      <div class="filtros">
          <input type="text" id="buscar" placeholder="Buscar por especialidad o especialista" [(ngModel)]="buscador" >
      </div>
    </div>
    <div class="tabla-container">
      <table>
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of obtenerTurnosFiltradosEspecialista()">
            <td>{{ turno.usuarioNombre }}</td>
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.fechaTurno }}</td>
            <td>
              <span [appEstadoTurno]="turno.estado">
                {{ turno.estado }}
              </span>
            </td>
            <td>
              
              <button class="btn" *ngIf="turno.estado == estadoTurno.pendiente" (click)="mostrarComentario(turno, 'cancelar')">Cancelar Turno</button>
              <button class="btn" *ngIf="turno.estado == estadoTurno.pendiente" (click)="mostrarComentario(turno, 'rechazar')">Rechazar turno </button>
              <button class="btn" *ngIf="turno.estado ==  estadoTurno.pendiente" (click)="aceptarTurno(turno)"> Aceptar turno</button>
              <button class="btn" *ngIf="turno.estado == estadoTurno.aceptado" (click)="mostrarHistorial(turno)"> Finalizar Turno</button>
              <button class="btn" *ngIf="turno.resena!= null || turno.comentario!=null"  (click)="mostrarResena(turno)"> Ver Reseña</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="comentarioVisible" class="modal">
      <div class="modal-content">
        <h3 *ngIf="accion =='cancelar'">Cancelar Turno</h3>
        <h3 *ngIf="accion =='rechazar'">Rechazar Turno</h3>
        <!-- <h3 *ngIf="accion =='finalizar'">Finalizar Turno</h3> -->
        <textarea [(ngModel)]="comentario" placeholder="Motivo:"></textarea>
        <!-- <textarea *ngIf="accion =='finalizar'" [(ngModel)]="diagnostico" placeholder="Diagnóstico:"></textarea> -->
        <div class="modal-buttons">
          <button *ngIf="accion =='cancelar'" (click)="cancelarTurno()">Confirmar</button>
          <button *ngIf="accion =='rechazar'" (click)="rechazarTurno()">Confirmar</button>
          <!-- <button *ngIf="accion =='finalizar'" (click)="finalizarTurno()">Confirmar</button> -->
          <button (click)="cerrarModal('comentario')">Cerrar</button>
        </div>
      </div>
    </div>

    <div *ngIf="resenaVisible" class="modal">
      <div class="modal-content" *ngIf="turnoSeleccionado?.resena !=null">
        <h3>Reseña de {{turnoSeleccionado?.resena?.usuario}} ({{turnoSeleccionado?.resena?.tipoUsuario}})</h3>
        <p>Reseña: {{turnoSeleccionado?.resena?.comentario}}</p>
        <p>Acción: {{turnoSeleccionado?.resena?.accion}}</p>
        <div class="modal-buttons">
          <button (click)="cerrarModal('resena')">Cerrar</button>
        </div>
      </div>
      <div class="modal-content" *ngIf="turnoSeleccionado?.comentario !=null">
        <h3>Comentario de {{turnoSeleccionado?.comentario?.usuario}} ({{turnoSeleccionado?.comentario?.tipoUsuario}})</h3>
        <p>Reseña: {{turnoSeleccionado?.comentario?.comentario}}</p>
        <p>Acción: {{turnoSeleccionado?.comentario?.accion}}</p>
        <div class="modal-buttons">
          <button (click)="cerrarModal('resena')">Cerrar</button>
        </div>
      </div>
    </div>

    <div *ngIf="historialVisible" class="modal">
      <div class="modal-content">
      <h3>Finalizar Turno</h3>
      <textarea [(ngModel)]="comentario" placeholder="Comentario:"></textarea>
      <textarea [(ngModel)]="diagnostico" placeholder="Diagnóstico:"></textarea>
      <form [formGroup]="formHistorial" (ngSubmit)="finalizarTurno()">
        
  
          <div  class="fijos">
            <div class="row">
              <input id="altura" formControlName="altura" placeholder="Altura (cm)" />
              <div [ngClass]="{'visible': formViewer.controlConError(formHistorial, 'altura')}" class="error-message">
                <p>{{ formViewer.mensajeError(formHistorial, 'altura') }}</p>
              </div>
            </div>

            <div class="row">
              <input id="peso" formControlName="peso" placeholder="Peso (kg)" />
              <div [ngClass]="{'visible': formViewer.controlConError(formHistorial, 'peso')}" class="error-message">
                <p>{{ formViewer.mensajeError(formHistorial, 'peso') }}</p>
              </div>
            </div>
            <div class="row">
              <input id="temperatura" formControlName="temperatura" placeholder="Temperatura (°C)" />
              <div [ngClass]="{'visible': formViewer.controlConError(formHistorial, 'temperatura')}" class="error-message">
                <p>{{ formViewer.mensajeError(formHistorial, 'temperatura') }}</p>
              </div>
            </div>
            <div class="row">
              <input id="presion" formControlName="presion" placeholder="Presión" />
              <div [ngClass]="{'visible': formViewer.controlConError(formHistorial, 'presion')}" class="error-message">
                <p>{{ formViewer.mensajeError(formHistorial, 'presion') }}</p>
              </div>
            </div>
          </div>
  
          <div class="dinamicos">
            <h2>Datos opcionales</h2>
            <div class="row">
              <input id="clave1" formControlName="clave1" placeholder="Clave" />
              <input id="valor1" formControlName="valor1" placeholder="Valor" />
            </div>
            <div class="row">
              <input id="clave2" formControlName="clave2" placeholder="Clave" />
              <input id="valor2" formControlName="valor2" placeholder="Valor" />
            </div>
            <div class="row">
              <input id="clave3" formControlName="clave3" placeholder="Clave" />
              <input id="valor3" formControlName="valor3" placeholder="Valor" />
            </div>
          </div>
  
          <div class="modal-buttons">
            <button [disabled]="!this.formHistorial.valid" >Confirmar</button>
            <button (click)="cerrarModal('historial')">Cerrar</button>
          </div>
  
        </form>
      </div>
    </div>

  </div>
