
<div class="contenedor">
    <div *ngIf="loading" class="spinner">
        <div class="spinner-container">
            <img src="../../../assets/icono-iso.png" alt="spinner icono" class="espejo-animado">
        </div>
    </div>
    
    <div class="box-form">

        <div class="card-izquierda">
            <div class="overlay">
                <h1>Bienvenido</h1>
                <img src="../../../assets/icono-iso.png" alt="icono clinica" class="espejo-animado">
            </div>
        </div>


        <div class="card-derecha">
            <h5>Iniciar Sesión</h5>

            <div class="inputs">
                <input type="text" [(ngModel)]="email" placeholder="Ingrese usuario">
                <input type="password" [(ngModel)]="password"  placeholder="Ingrese contraseña">
                <p>¿No tenés una cuenta? <a [routerLink]="['/registro']">Registrate</a></p>
            </div>

            <div class="btn-ingreso">
                <button class="btn" (click)="login()">Ingresar</button>
                <p class="error-login" [class.show]="flagError">{{errorMsj}}</p>
            </div>

            
        </div>
        <div class="btn-acceso">
               
            <button class="btn-fab btn" mat-mini-fab color="accent" (click)="registroAutomatico('chandler')" *ngIf="abrirMenu" [appHoverEmail]="'chandler@yopmail.com'">
              <img src="https://ilhsggimglmzbnkuzgis.supabase.co/storage/v1/object/public/clinica/chandler@yopmail.com-1" alt="">
            </button>

            <button class="btn-fab btn" mat-mini-fab color="accent" (click)="registroAutomatico('bojack')" *ngIf="abrirMenu" [appHoverEmail]="'bojack@yopmail.com'">
              <img src="https://ilhsggimglmzbnkuzgis.supabase.co/storage/v1/object/public/clinica/bojack@yopmail.com-1" alt="">
            </button>

            <button class="btn-fab btn" mat-mini-fab color="accent" (click)="registroAutomatico('morty')" *ngIf="abrirMenu" [appHoverEmail]="'morty@yopmail.com'">
              <img src="https://ilhsggimglmzbnkuzgis.supabase.co/storage/v1/object/public/clinica/morty@yopmail.com-1" alt="">
            </button>

            <button class="btn-fab btn" mat-mini-fab color="accent" (click)="registroAutomatico('strange')" *ngIf="abrirMenu" [appHoverEmail]="'drstrange@yopmail.com'">
                <img src="https://ilhsggimglmzbnkuzgis.supabase.co/storage/v1/object/public/clinica/drstrange@yopmail.com-1" alt="">
              </button>

              <button class="btn-fab btn" mat-mini-fab color="accent" (click)="registroAutomatico('rick')" *ngIf="abrirMenu" [appHoverEmail]="'rick@yopmail.com'">
                <img src="https://ilhsggimglmzbnkuzgis.supabase.co/storage/v1/object/public/clinica/rick@yopmail.com-1" alt="">
              </button>

              <button class="btn-fab btn" mat-mini-fab color="accent" (click)="registroAutomatico('juli')" *ngIf="abrirMenu" [appHoverEmail]="'juli.laplace@gmail.com'">
                <img src="https://ilhsggimglmzbnkuzgis.supabase.co/storage/v1/object/public/clinica/juli.laplace@gmail.com-1" alt="">
                
              </button>
              <button class="btn-fab btn" mat-mini-fab (click)="seleccionMenu()">
                <mat-icon>group</mat-icon>
            </button>

        <!-- </div> -->
        </div>

    </div>
</div>