/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.contenedor{
    min-height: 77vh;
    display: flex;
    flex-direction: column;
}
h1{
    margin: 20px;
    color: #704cb6;
    font-weight: 900;
    text-align: center;
  }

  h4{
 
    color: #704cb6;
    font-weight: 900;

  }